* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  overflow: hidden;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

header .header__container .header__navbar .header__navbar-list ul li a {
  text-decoration: none;
  color: #000000;
}

header {
  position: relative;
  background-color: #fff;
}

header .header__container {
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  width: 100vw;
}

header .header__container .header__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__container .header__img img {
  height: 80%;
  margin-left: 20px;
}

header .header__container .header__navbar {
  width: 100%;
}

header .header__container .header__navbar .header__navbar-list ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header__container .header__navbar .header__navbar-list ul li {
  list-style: none;
  width: 100%;
  text-align: center;
}

header .header__container .header__navbar .header__navbar-list ul li a {
  font-size: 16px;
  line-height: 78px;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: relative;
}

header .header__container .header__navbar .header__navbar-list ul li a::after {
  position: absolute;
  content: "";
  background-color: #3fd0d4;
  height: 2.5px;
  width: 100%;
  top: 100%;
  left: 0;
  -webkit-animation: textscrool .4s linear;
          animation: textscrool .4s linear;
  display: none;
}

header .header__container .header__navbar .header__navbar-list ul li:hover {
  cursor: pointer;
}

header .header__container .header__navbar .header__navbar-list ul li:hover a {
  color: #3fd0d4;
}

header .header__container .header__navbar .header__navbar-list ul li:hover a::after {
  display: block;
}

header .header__container .header__navbar-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__container .header__navbar-icon i {
  line-height: 78px;
  font-size: 22px;
  margin: 0 24px 0 0;
}

header .header__container .header__navbar-icon i:hover {
  cursor: pointer;
  color: #3fd0d4;
}

header .header__container .header__navbar-icon i:first-child {
  margin-left: 40px;
}

.content__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 62%;
  left: 60%;
  color: #fff;
}

.content__price .content__sale {
  background-color: #f3a46b;
  padding: 4px;
  font-size: 15px;
  height: 100%;
  font-weight: 400;
}

.content__price .content__num {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  text-shadow: 0 1px 4px #000;
  letter-spacing: 1px;
}

.content__price p {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  text-shadow: 0 1px 4px #000;
  letter-spacing: 1px;
}

.search-wrapper {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
}

.quick {
  cursor: pointer;
  background-color: #434a54;
}

.quick.active {
  background-color: #1bbc9b;
}

.quickSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 14px;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quickSearch .quickSearch__text {
  margin-left: 12px;
}

.search__input-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #434a54;
}

.search__input-wrapper .search__input {
  padding: 12px 0;
}

.search__input-wrapper .search__input .search__input-group {
  background-color: #4a515b;
  outline: none;
  border: none;
  color: #fffd;
  width: 100%;
  font-size: 16px;
  padding: 6px 0 6px 8px;
}

.search__input-wrapper .search__input input::-webkit-input-placeholder {
  color: #9d9e99;
}

.search__input-wrapper .search__input input:-ms-input-placeholder {
  color: #9d9e99;
}

.search__input-wrapper .search__input input::-ms-input-placeholder {
  color: #9d9e99;
}

.search__input-wrapper .search__input input::placeholder {
  color: #9d9e99;
}

.search__input-wrapper .search__input .search__btn {
  width: 100%;
}

.search__input-wrapper .search__input .btn-search {
  width: 100%;
  padding: 6px 0;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #1bbc9b;
  color: #fffd;
}

.slider__content {
  -webkit-box-shadow: 0 1px 14px #ccc;
          box-shadow: 0 1px 14px #ccc;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  margin: 22px 8px 0 8px;
}

.slider__content img {
  height: 200px;
  width: 100%;
}

.slider__content img:hover {
  width: 110%;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  opacity: .8;
}

.slider__content .slider__content--wrapper {
  color: #fff;
  font-weight: 500;
  padding: 6px 0;
  background-color: #3fd0d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider__content .slider__content--sub {
  padding: 18px;
  border: 1px solid #ccc;
}

.slider__content .slider__content--sub button {
  width: 100%;
}

.slider__content .slider__content--sub h4 a {
  text-decoration: none;
  color: #212121;
  font-weight: inherit;
}

.slider__content .slider__content--sub p {
  color: #606060;
}

.map__container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 440px;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(146, 146, 146, 0.5);
          box-shadow: 0 1px 4px rgba(146, 146, 146, 0.5);
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.map__container .map__container--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
  cursor: pointer;
}

.map__container .map__container--icon i {
  font-size: 18px;
  font-weight: bold;
}

.map__container .map__container--icon :hover {
  color: #3fd0d4;
}

.map__container .map__container--img {
  text-align: center;
  margin: 50px 0;
}

.view {
  background: url("https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/skiing-parallax-1.jpg") center/cover no-repeat;
  height: 100vh;
  margin-top: 90px;
}

.view .view__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin: 20px auto;
  text-align: center;
}

.view .view__text .view__text-header h2 {
  color: #fffd;
  margin-bottom: 20px !important;
  margin-top: 100px;
}

.view .view__text .view__text-sub p {
  color: #ffffff;
  font-size: 17px;
  line-height: 28px;
}

.view .view__slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding: 20px;
}

.view .view__slider-wrapper .view__slider-img {
  width: 42%;
}

.view .view__slider-wrapper .view__slider-img img {
  width: 80%;
  border-radius: 100%;
}

.view .view__slider-wrapper .view__slider-sub {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.view .view__slider-wrapper .view__slider-sub h4 a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.view .view__slider-wrapper .view__slider-sub .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  color: #3fd0d4;
}

.view .view__slider-wrapper .view__slider-sub .icon i {
  margin-right: 4px;
}

@-webkit-keyframes textscrool {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes textscrool {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes map {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes map {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content__video .content__video-wrapper .content__video-text {
  font-family: Satisfy,cursive;
  font-size: 33px;
  line-height: 1.8em;
  font-style: italic;
  color: #3fd0d4;
  margin-top: 30px;
}

.view .view__text .view__text-header h2, .content__video .content__video-wrapper h3 {
  margin-bottom: 50px;
  font-size: 65px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.content__video .content__video-wrapper p {
  text-align: center;
  line-height: 22px;
  color: #8c8c8c;
  margin-top: 24px;
}

.content__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.content__video .content__video-wrapper {
  margin: 114px auto 0 auto;
  width: 53%;
}

.content__video .content__video-wrapper iframe {
  border-radius: 12px;
  width: 100%;
  height: 378px;
}

.content__video .content__video-wrapper button:hover {
  background-color: #18888b;
}

.content__video .content__video-wrapper button {
  border: none;
  background-color: #3fd0d4;
  padding: 16px 54px 16px 54px;
}

.content__video .content__video-wrapper button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.content__winter {
  text-align: center;
  margin-top: 62px;
}

.content__winter img {
  margin-bottom: 24px;
}

.content__winter img:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.location__img:hover img {
  width: 102% !important;
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
  cursor: pointer;
}

.location__img-wrapper .location__img {
  position: relative;
  margin-top: 110px;
  overflow: hidden;
  border-radius: 100%;
}

.location__img-wrapper .location__img img {
  width: 100%;
  border-radius: 100%;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.location__img-wrapper .location__img strong {
  cursor: pointer;
  font-size: 36px;
  letter-spacing: 1px;
  font-family: Satisfy,cursive;
  font-style: italic;
  color: #ffffff;
  text-shadow: 0 1px 4px #363636;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer {
  margin-top: 100px;
  padding-top: 56px;
  background-color: #212121;
}

footer .footer-heading {
  color: #f0f9ff;
  margin-bottom: 30px;
}

footer .footer1 img {
  width: 100%;
  margin-bottom: 22px;
}

footer .footer1 .footer1-text {
  color: #f6f9ee;
}

footer .footer1 .footer1-list .footer1-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f6f9ee;
  text-decoration: none;
}

footer .footer1 .footer1-list .footer1-link i {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 10px;
}

footer .footer1 .footer1-list .footer1-link:hover {
  color: #18888b;
}

footer .footer2 .footer2-visit {
  line-height: 36px;
}

footer .footer2 .footer2-visit .footer2-link {
  color: #f6f9ee;
}

footer .footer2 .footer2-visit .footer2-time {
  color: #289da1;
}

footer .footer3 .footer3-text {
  color: #f6f9ee;
}

footer .footer3 .auth-form--input {
  background-color: #595959;
  padding: 0 12px;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer3 .auth-form--input i {
  color: #fff;
  margin-right: 4px;
}

footer .footer3 .auth-form--input input {
  width: 100%;
  background-color: #595959;
  padding: 10px 4px;
  border: none;
  outline: none;
  color: #fff;
}

footer .footer3 .auth-form--input input::-webkit-input-placeholder {
  color: white;
}

footer .footer3 .auth-form--input input:-ms-input-placeholder {
  color: white;
}

footer .footer3 .auth-form--input input::-ms-input-placeholder {
  color: white;
}

footer .footer3 .auth-form--input input::placeholder {
  color: white;
}

footer .footer3 .footer3-btn button {
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  padding: 12px 0;
  border: none;
  background-color: #3fd0d4;
  color: #fff;
}

footer .footer3 .footer3-btn button:hover {
  background-color: aliceblue;
  color: #000;
}

footer .made-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

footer .made-in p {
  color: #ccc;
  margin-right: 10px;
}

footer .made-in a {
  color: #f0f9ff;
  text-decoration: none;
}

footer .made-in a:hover {
  color: aqua;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: none;
  -webkit-animation: fadeIn .6s ease-in-out;
          animation: fadeIn .6s ease-in-out;
}

.modal .modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 189, 197, 0.7);
}

.modal .modal__body {
  margin: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
}

.modal .modal__body .modal__search {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  padding: 20px;
  background-color: #fff;
}

.modal .modal__body .modal__search input {
  width: 100%;
  border: none;
  outline: none;
  padding: 6px;
}

.modal .modal__body .modal__find {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.modal .modal__body .modal__find :hover {
  background-color: #24a9af;
}

.modal .modal__body .modal__find button {
  width: 100%;
  padding: 20px 0;
  border: none;
  background-color: #40d0d4;
  font-size: 24px;
  color: #fff;
}

.scrool__full .scroll__sub-wrapper:hover .scroll__sub {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.scrool__full .scroll__sub-wrapper {
  position: relative;
  color: #ffffff;
  text-align: center;
  margin-top: 80px;
}

.scrool__full .scroll__sub-wrapper .scroll__sub {
  position: absolute;
  top: 54%;
  width: 100%;
  height: 46%;
  background-color: rgba(63, 208, 212, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding-top: 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.scrool__full .scroll__sub-wrapper .scroll__sub h5 {
  font-weight: bold;
  font-size: 20px;
}

.scrool__full .scroll__sub-wrapper .scroll__sub-icon {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
}

.scrool__full .scroll__sub-wrapper .scroll__sub-icon i:hover {
  color: #04645f;
  cursor: pointer;
}

@-webkit-keyframes form {
  from {
    opacity: 0;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes form {
  from {
    opacity: 0;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.form__container.open {
  display: block;
}

.form__container {
  background-color: rgba(58, 189, 193, 0.8) !important;
  z-index: 10;
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: form .5s linear;
          animation: form .5s linear;
  right: 0;
  display: none;
}

.form__container form {
  background-color: #3ab8bd !important;
  border: 4px solid #ffffff;
  border-radius: 20px;
  margin: auto;
  width: 80%;
  padding: 40px;
  margin: 66px auto 0 auto;
}

.form__container form button {
  width: 100%;
  background-color: #18888b;
  border: none;
}

.form__container form button:hover {
  background-color: #21ced4 !important;
}

.form__container .form__container--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  float: right;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 100%;
  margin: 12px 38px 0 0;
}

.form__container .form__container--icon i {
  color: #289da1 !important;
}

.form__container--icon:hover {
  background-color: white;
  cursor: pointer;
}
/*# sourceMappingURL=stylys.css.map */